.popup-class-link {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.3rem;
  background-color: #1e5e5e;
  color: rgba(255, 255, 255, 0.9);
  padding: 0.7rem 1.2rem;
  border-radius: 3px;

  img {
    width: 16px;
    filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(97deg)
      brightness(98%) contrast(104%);
  }
}